<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charolia.gadde.ess">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InitActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_entry"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback_form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchJobActivityExpanded"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".Activity.ForumActivityExpanded"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".Activity.SearchCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity android:name=".Activity.SearchJobActivity"
            android:label="Search Jobs"
            android:theme="@style/SearchTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>